<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>管理员</string>
		<key>date</key>
		<string>2015-5-29 11:00</string>
		<key>title</key>
		<string>放假了</string>
		<key>message</key>
		<string>春节即将来临，为了让全局干部职工度过一个愉快祥和的春节，现将有关注意事项的通知如下：

1、请各科室站于今天下午自行组织人员打扫办公室，干干净净迎新春佳节。

2、请做好局里的防火、防盗等安全工作。要认真检查和关好办公室和局宿舍的门窗；关闭不需要的电源，关好水龙头等，以及保管好个人财产，消除一切隐患。</string>
		<key>imgs</key>
		<array>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110153683/w%3D140_h%3D140/fcd565c07a9039590ceb79855050dba3?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110193751/w%3D140_h%3D140/a1a8690b4a8433d12bc460a6f5c6d3c4?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110165775/w%3D140_h%3D140/a8ea812baea22ba5b212453e15915f3f?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110213439/w%3D140_h%3D140/f2cf7da6dc41d6c1873dac21bfda1873?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110166789/w%3D140_h%3D140/24cf65772937aae2396af6249cfbf08b?v=1</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110156847/w%3D140_h%3D140/8e3ae8f781437b8d4af3914d721cc64a?v=3</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110182041/w%3D140_h%3D140/2ff781ddb1274c85113a68d6833216d0?v=2</string>
			</dict>
		</array>
		<key>items</key>
		<array>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>刘涛</string>
				<key>toName</key>
				<string>刘翔</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>刘涛</string>
				<key>toName</key>
				<string>刘亦菲</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>开心就好</string>
				<key>itemName</key>
				<string>古天乐</string>
				<key>toName</key>
				<string>刘翔</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>时间过得好快啊</string>
				<key>itemName</key>
				<string>xiaomis</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>明天啊我还在青岛那</string>
				<key>itemName</key>
				<string>xiaomis2</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>刘涛</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>牛逼2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>刘涛</string>
		<key>date</key>
		<string>2015-5-29 11:00</string>
		<key>title</key>
		<string>走了</string>
		<key>message</key>
		<string>Instagram是一款优秀的照共享软件，可让你轻松捕捉并和朋友们分享这世界的精彩瞬间，已经有超过3亿人正在使用这款应用。Instagram设计精美，并在用户体验上始终坚持精简、简单的理念。在众多拍照类应用中，很多软件强调的是功能和技术，而Instagram则让你沉浸在美好的体验中</string>
		<key>imgs</key>
		<array>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110153683/w%3D140_h%3D140/fcd565c07a9039590ceb79855050dba3?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110193751/w%3D140_h%3D140/a1a8690b4a8433d12bc460a6f5c6d3c4?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110165775/w%3D140_h%3D140/a8ea812baea22ba5b212453e15915f3f?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110213439/w%3D140_h%3D140/f2cf7da6dc41d6c1873dac21bfda1873?v=2</string>
			</dict>
		</array>
		<key>items</key>
		<array>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>刘涛</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？这么早就开学了啊？这么早就开学了啊？这么早就开学了啊？这么早就开学了啊？这么早就开学了啊？这么早就开学了啊？</string>
				<key>itemName</key>
				<string>刘涛</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>开心就好</string>
				<key>itemName</key>
				<string>xiaomis5</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>时间过得好快啊</string>
				<key>itemName</key>
				<string>xiaomis</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>明天啊我还在青岛那</string>
				<key>itemName</key>
				<string>mi2</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>刘涛</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>牛逼2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>我是谁</string>
		<key>date</key>
		<string>2015-5-29 11:00</string>
		<key>title</key>
		<string>放假了</string>
		<key>message</key>
		<string>此前并没有想过要剖析一下Instagram的设计细节，因为大部分的细节都是显而易见的。当然，设计过程是非常有难度的，这些设计细节与Instagram天才设计师的想法并不冲突。以下是19个Instagram细节设计</string>
		<key>imgs</key>
		<array/>
		<key>items</key>
		<array>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>刘涛</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>刘涛</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>开心就好</string>
				<key>itemName</key>
				<string>miui</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>时间过得好快啊</string>
				<key>itemName</key>
				<string>xiaomis</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>明天啊我还在青岛那</string>
				<key>itemName</key>
				<string>假名</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>刘涛</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>牛逼2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>管理员</string>
		<key>date</key>
		<string>2015-5-29 11:00</string>
		<key>title</key>
		<string>放假了</string>
		<key>message</key>
		<string>春节即将来临，为了让全局干部职工度过一个愉快祥和的春节，现将有关注意事项的通知如下：

1、请各科室站于今天下午自行组织人员打扫办公室，干干净净迎新春佳节。

2、请做好局里的防火、防盗等安全工作。要认真检查和关好办公室和局宿舍的门窗；关闭不需要的电源，关好水龙头等，以及保管好个人财产，消除一切隐患。</string>
		<key>imgs</key>
		<array>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110153683/w%3D140_h%3D140/fcd565c07a9039590ceb79855050dba3?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110193751/w%3D140_h%3D140/a1a8690b4a8433d12bc460a6f5c6d3c4?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110165775/w%3D140_h%3D140/a8ea812baea22ba5b212453e15915f3f?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110213439/w%3D140_h%3D140/f2cf7da6dc41d6c1873dac21bfda1873?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110166789/w%3D140_h%3D140/24cf65772937aae2396af6249cfbf08b?v=1</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110156847/w%3D140_h%3D140/8e3ae8f781437b8d4af3914d721cc64a?v=3</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110182041/w%3D140_h%3D140/2ff781ddb1274c85113a68d6833216d0?v=2</string>
			</dict>
		</array>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>管理员</string>
		<key>date</key>
		<string>2015-5-29 11:00</string>
		<key>title</key>
		<string>放假了</string>
		<key>message</key>
		<string>春节即将来临，为了让全局干部职工度过一个愉快祥和的春节，现将有关注意事项的通知如下：

1、请各科室站于今天下午自行组织人员打扫办公室，干干净净迎新春佳节。

2、请做好局里的防火、防盗等安全工作。要认真检查和关好办公室和局宿舍的门窗；关闭不需要的电源，关好水龙头等，以及保管好个人财产，消除一切隐患。</string>
		<key>imgs</key>
		<array>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110153683/w%3D140_h%3D140/fcd565c07a9039590ceb79855050dba3?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110193751/w%3D140_h%3D140/a1a8690b4a8433d12bc460a6f5c6d3c4?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110165775/w%3D140_h%3D140/a8ea812baea22ba5b212453e15915f3f?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110213439/w%3D140_h%3D140/f2cf7da6dc41d6c1873dac21bfda1873?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110166789/w%3D140_h%3D140/24cf65772937aae2396af6249cfbf08b?v=1</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110156847/w%3D140_h%3D140/8e3ae8f781437b8d4af3914d721cc64a?v=3</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110182041/w%3D140_h%3D140/2ff781ddb1274c85113a68d6833216d0?v=2</string>
			</dict>
		</array>
		<key>items</key>
		<array>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>刘涛</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>刘涛</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>时间过得好快啊</string>
				<key>itemName</key>
				<string>xiaomis</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>刘涛</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>哇哈哈</string>
				<key>toName</key>
				<string>刘涛</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>管理员</string>
		<key>date</key>
		<string>2015-5-29 11:00</string>
		<key>title</key>
		<string>放假了</string>
		<key>message</key>
		<string>春节即将来临，为了让全局干部职工度过一个愉快祥和的春节，现将有关注意事项的通知如下：

1、请各科室站于今天下午自行组织人员打扫办公室，干干净净迎新春佳节。

2、请做好局里的防火、防盗等安全工作。要认真检查和关好办公室和局宿舍的门窗；关闭不需要的电源，关好水龙头等，以及保管好个人财产，消除一切隐患。</string>
		<key>imgs</key>
		<array>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110153683/w%3D140_h%3D140/fcd565c07a9039590ceb79855050dba3?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110193751/w%3D140_h%3D140/a1a8690b4a8433d12bc460a6f5c6d3c4?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110165775/w%3D140_h%3D140/a8ea812baea22ba5b212453e15915f3f?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110213439/w%3D140_h%3D140/f2cf7da6dc41d6c1873dac21bfda1873?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110166789/w%3D140_h%3D140/24cf65772937aae2396af6249cfbf08b?v=1</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110156847/w%3D140_h%3D140/8e3ae8f781437b8d4af3914d721cc64a?v=3</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110182041/w%3D140_h%3D140/2ff781ddb1274c85113a68d6833216d0?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110156847/w%3D140_h%3D140/8e3ae8f781437b8d4af3914d721cc64a?v=3</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110156847/w%3D140_h%3D140/8e3ae8f781437b8d4af3914d721cc64a?v=3</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110165775/w%3D140_h%3D140/a8ea812baea22ba5b212453e15915f3f?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110165775/w%3D140_h%3D140/a8ea812baea22ba5b212453e15915f3f?v=2</string>
			</dict>
		</array>
		<key>items</key>
		<array>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>刘涛</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>刘涛</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>时间过得好快啊</string>
				<key>itemName</key>
				<string>xiaomis</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>明天啊我还在青岛那</string>
				<key>itemName</key>
				<string>匿名</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>www</string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？</string>
				<key>itemName</key>
				<string>牛逼2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>管理员</string>
		<key>date</key>
		<string>2015-5-29 11:00</string>
		<key>title</key>
		<string>放假了</string>
		<key>message</key>
		<string>春节即将来临，为了让全局干部职工度过一个愉快祥和的春节，现将有关注意事项的通知如下：

1、请各科室站于今天下午自行组织人员打扫办公室，干干净净迎新春佳节。

2、请做好局里的防火、防盗等安全工作。要认真检查和关好办公室和局宿舍的门窗；关闭不需要的电源，关好水龙头等，以及保管好个人财产，消除一切隐患。</string>
		<key>imgs</key>
		<array>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110153683/w%3D140_h%3D140/fcd565c07a9039590ceb79855050dba3?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110193751/w%3D140_h%3D140/a1a8690b4a8433d12bc460a6f5c6d3c4?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110165775/w%3D140_h%3D140/a8ea812baea22ba5b212453e15915f3f?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110213439/w%3D140_h%3D140/f2cf7da6dc41d6c1873dac21bfda1873?v=2</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110166789/w%3D140_h%3D140/24cf65772937aae2396af6249cfbf08b?v=1</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110156847/w%3D140_h%3D140/8e3ae8f781437b8d4af3914d721cc64a?v=3</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://drscdn.500px.org/photo/110182041/w%3D140_h%3D140/2ff781ddb1274c85113a68d6833216d0?v=2</string>
			</dict>
		</array>
		<key>items</key>
		<array>
			<dict>
				<key>itemContent</key>
				<string>这么早就开学了啊？为什么啊？我还没有玩够那？</string>
				<key>itemName</key>
				<string>牛逼2</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
